# git ignore list

*.git/
*.idea/
*.venv/
*.vscode/
*backup/
*build/
*data/
*venv/

*__pycache__/

*.bin
*.csv
*.lock
*.log
*.out
*.pkl
*.pyc
*.pyd
*.pyx
*.tar
*.xls
*.xlsx
*.zip

*.DS_store
*.pdm-python
*.pdm.lock

!.gitkeep
!explanation.xlsx
