# ---------------------------------------------
# Copyright 2015 for Zen. All Rights Reserved.
# ---------------------------------------------

# gitignore list

*.git/
*.idea/
*.venv/
*backup/
*build/
*data/
*__pycache__/

*.bin
*.cache
*.csv
*.lock
*.log
*.out
*.parquet
*.pkl
*.pyc
*.pyd
*.pyx
*.tar
*.xls
*.xlsx
*.zip

*.DS_store
*.pdm-python
*project-api.json
*version

!.gitkeep
!raw.parquet
!explanation.xlsx
